body { background: #31abac; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 48px; display: flex; }
.block-session-0 { color: #a15b8f; font-size: 21px; margin-bottom: 5px; }
.block-notify-1 { color: #f7fa42; font-size: 17px; margin-bottom: 5px; }
.block-session-2 { color: #4fbcbe; font-size: 14px; margin-bottom: 5px; }
.block-product-3 { color: #69d8a; font-size: 19px; margin-bottom: 5px; }
.block-email-4 { color: #3e8adc; font-size: 13px; margin-bottom: 5px; }